/* responsive-nav tweaks */

.nav-toggle {
	display: block;
	padding: 10px 15px;
	font-weight: 700;
	color: #fff;
	text-align: right;
	text-transform: uppercase;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	background: #2a2a2a;
	-webkit-tap-highlight-color: #000;
	-webkit-touch-callout: none;
}


.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  flex: 0 1 33%;
  padding: 6px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.map {
  float: right;
}

@media only screen and (max-width: 1024px) {
  .map {
    display: none;
  }
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.container,
.container-inner {
	max-width: 1440px;
}

.content {
	width: 75%;
}

.sidebar {
	width: 20%;
}

.btn-link {
	padding: 3px 3px;
	border-radius: 3px;
	border: 1px solid #FFFFFF;
	font-weight: 700;
	color: #fff;
	white-space: pre-line;
	background: #A2A4A3;
}

.btn-link:hover {
	background: #CFB87C;
	border: 1px solid #565A5C;
}

.btn:hover {
	background: #CFB87C;
}

a:hover {
	color: #CFB87C;
}

blockquote {
	border-left: 5px solid #CFB87C;
}

.logo {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  padding: 1.8vh;
}

.logo-left {
  flex: 40%;
  padding: 0px;
}

.logo-right {
  flex: 60%;
  padding: 0px;
}

@media (max-width: 768px) {
  .logo .logo-right {
    display: none;
  }
}

@media (max-width: 425px) {
  .sidebar, .toc, .cards {
    display: none;
  }
}

@media screen and (min-width: 767px) {
	.menu {
		border-bottom: 5px solid #CFB87C;
	}
}

.divider {
	background: #CFB87C;
}

.opened.menu__list {
	border-top: 1px solid #CFB87C;
}

.menu__item:hover {
	background: #CFB87C;
}

.menu__item--active {
	background: #CFB87C;
}

.post__thumbnail img {
	height: 150;
	width: auto;
	float: right;
}

.list__thumbnail img {
  height: 100px;
  width: auto;
}

.post__content a,
.warning a {
	color: #CFB87C;
}

.post__content a:hover,
.warning a:hover {
	color: #CFB87C;
}

.tags__item:hover {
	background: #CFB87C;
}

.icon-tag {
	background: #CFB87C;
}

/*
.toc {
    float: right;
}
*/

.toc__menu a {
	color: #CFB87C;
}

.pagination__item:hover,
.pagination__item--current {
	background: #CFB87C;
}

.widget__title {
	border-bottom: 3px solid #CFB87C;
}

