{{ if in .Params.tags "students"}}
  <div class="cards">
  {{ range $.Site.Data.students.data }}
  <div class="card">
    <img src="/img/avatar.png" alt="Avatar" style="width:50px">
    <div class="container">
      <h4><b>{{ .name }}</b></h4> 
      <ul class="list-unstyled">
        <li><small><b>{{ .interest }}</b></small></li>
        <li><small>{{ .degree }}</small></li>
        <li><small>Lab: {{ .mentor }}</small></li>
      </ul>
    </div>
  </div>
  {{ end }}
  </div>
{{ else if in .Params.tags "faculty" }}
  <div class="cards">
  {{ range $.Site.Data.faculty.data }}
  <div class="card">
    <img src="/img/avatar.png" alt="Avatar" style="width:50px">
    <div class="container">
      <h4><b>{{ .name }}</b></h4> 
      <ul class="list-unstyled">
      <li>{{ .interest }}</li>
      {{ if .url }}
      <li><a href="{{ .url }}">Lab website</a></lid>
      {{ end }}
      </ul>
    </div>
  </div>
  {{ end }}
  </div>
{{ end }}