{{ if in .Params.categories "students"}}
  <div class="cards">
  {{ range $.Site.Data.students.data }}
  <div class="card">
    <div class="container">
      <b>{{ .name }}</b>
      <ul class="list-unstyled">
        <li><small><b>{{ .interest }}</b></small></li>
        <li><small>{{ .degree }}</small></li>
        <li><small>Lab: {{ .mentor }}</small></li>
      </ul>
    </div>
  </div>
  {{ end }}
  </div>
{{ else if in .Params.categories "faculty" }}
  <div class="cards">
  {{ range $.Site.Data.faculty.data }}
  <div class="card">
    <div class="container">
      {{ if .img }}
      <img src="{{ .img }}" alt="{{ .name }}" style="width:100px; float: right" />
      {{ end }}
      <b>{{ .name }}</b>
      <p>
      {{ .interest }}<br/>
      {{ with .url }}
      <a href="{{.}}" target="_blank" class="btn btn-link">website</a>
      {{ end }}
      {{ with .ncbi }}
      <a href="{{.}}" target="_blank" class="btn btn-link">publications</a>
      {{ end }}
    </div>
  </div>
  {{ end }}
  </div>
{{ end }}